@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/quicksand/Quicksand-Light.woff2') format('woff2'),
    url('/fonts/quicksand/Quicksand-Light.woff') format('woff');
}

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/quicksand/Quicksand-Regular.woff2') format('woff2'),
    url('/fonts/quicksand/Quicksand-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/quicksand/Quicksand-Medium.woff2') format('woff2'),
    url('/fonts/quicksand/Quicksand-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/quicksand/Quicksand-Bold.woff2') format('woff2'),
    url('/fonts/quicksand/Quicksand-Bold.woff') format('woff');
}
